<div class="setup-container">
  <!-- Header Section -->
  <div class="setup-component-header mt-14">
    <div class="header-left">
      <div class="header-icon">
        <i class="pi pi-cog"></i>
      </div>
      <h1 class="setup-component-title">ADMINISTRATION TOOL</h1>
    </div>
    <!-- <div class="header-right">
      <button 
        pButton 
        icon="pi pi-th-large" 
        label="" 
        class="btn-switch-mode-simple"
        (click)="openSwitchModeDialog()">
      </button>
      <p class="setup-subtitle">Manage users, projects, and system privileges.</p>
    </div> -->
  </div>

  <!-- Setup List -->
  <div class="setup-list-container">
    <div class="setup-list">
      <div
        *ngFor="let tile of setupTiles; let i = index"
        class="setup-list-item"
        [ngClass]="tile.borderColor"
      >
        <!-- Left Section: Icon & Content -->
        <div class="list-item-left">
          <div class="list-item-icon" [ngClass]="tile.borderColor">
            <i [ngClass]="tile.icon"></i>
          </div>
          <div class="list-item-content">
            <h3 class="list-item-title">{{ tile.title }}</h3>
            <p class="list-item-description">{{ tile.description }}</p>
          </div>
        </div>

        <!-- Right Section: Action Buttons -->
        <div class="list-item-actions">
          <button
            class="action-btn view-btn"
            (click)="viewDetails(tile.route)"
            pTooltip="View Details"
            tooltipPosition="top">
            <i class="pi pi-eye"></i>
            <span>View</span>
          </button>
          <button
            class="action-btn add-btn"
            (click)="addNew(tile.route)"
            pTooltip="Add New"
            tooltipPosition="top">
            <i class="pi pi-plus"></i>
            <span>Add</span>
          </button>
          <button
            class="action-btn navigate-btn"
            (click)="viewDetails(tile.route)"
            pTooltip="Navigate"
            tooltipPosition="top">
            <i class="pi pi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Switch Mode Dialog -->
  <p-dialog 
    header="Switch Mode" 
    [(visible)]="showSwitchModeDialog" 
    [modal]="true" 
    [responsive]="true" 
    [style]="{width: '80vw', maxWidth: '900px'}" 
    [baseZIndex]="10000" 
    [draggable]="false" 
    [maximizable]="true" 
    [resizable]="true"
    styleClass="switch-mode-dialog">
    
    <div class="switch-mode-content">
      <div class="switch-mode-grid">
        <div 
          *ngFor="let tile of setupTiles" 
          class="switch-mode-tile"
          [ngClass]="tile.borderColor"
          (click)="switchToMode(tile.route)">
          <div class="tile-icon">
            <i [ngClass]="tile.icon"></i>
          </div>
          <div class="tile-content">
            <h3 class="tile-title">{{ tile.title }}</h3>
            <p class="tile-description">{{ tile.description }}</p>
          </div>
          <div class="tile-arrow">
            <i class="pi pi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>

</div>
